<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Credit_Manager</title>
    <style>a {text-decoration: none}</style>
    <style>
    .title{
        font-size: 120px;
        font-family: 'Courier New', Courier, monospace;
        margin: auto;
        padding: 10px;
        text-align: center;
        color:lightblue
    }
    .title1{
        
        font-family: 'Courier New', Courier, monospace;
        margin: auto;
        padding: 10px;
        text-align: center;
        color: yellowgreen;
        font-size:50px;
    }
    .title2{
        
        font-family: 'Courier New', Courier, monospace;
        margin: auto;
        padding: 10px;
        text-align: center;
        color: yellow;
        text-decoration: underline
    }
    .title3{
        
        font-family: 'Courier New', Courier, monospace;
        margin: auto;
        padding: 10px;
        text-align: center;
        color:lightsalmon;
        font-size:30px;
        
    }
    body{
        background-image: url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80.jpg");
        background-size: auto;
    }
    </style>
</head>
<body background="homepage.jpg">
    <div >
        <a href="/viewerlist">
            <h1 class="title">CREDIT MANAGEMENT WEBSITE</h1>
            <br>
            <br>
            <br>
            <br>
            
            <h1 class="title1">Click Here to Start</h1>
            <h3 class="title2">Click Above to enter</h3>
            <br>
            <br>
            <p class="title3">Everytime you click the transfer credit button one credit is transferred from that person selected to the person of your choice.</p>
        </a>
    </div>

</body>
</html>
